<%= render 'form' %>

<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"">
      <form action="#">

        <h1 class="form-header-text" >Create a New Task</h1>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">Title</label>
              <input type="text" name="task[title]" id="title" value="placeholder">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">Details</label>
              <input type="text" name="task[details]" id="details" value="placeholder">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">Completed</label>
              <input type="text" name="task[completed]" id="completed" value="false">
           </div>
          </div>
        </div>

       <input type="submit" value="submit" class = "btn-primary">

      </form>
    </div>
  </div>
</div> -->



